@using MVCDemo.Common
@using MVCDemo.CustomHtmlHelpers
@model MVCDemo.Models.Search

@{
    var modelType = Model.GetType();
    var searchTermDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.SearchTerm)));
}
<div class="form-horizontal row-cols-gutter-10">
    <div class="col-sm-12">
        <div class="form-group row-cols-gutter-10 vertical-gutter-0">
            <div class="col-xs-12 col-sm-4 vertical-gutter-10">
                <div>
                    @Html.LabelFor(m => m.SearchTerm, $"{searchTermDisplayName}:", new { @for = "Search", @class = "control-label" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row row-cols-gutter-10 row-flex">
                    <div class="col-fixed-rest-1 vertical-gutter-10">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            @Html.TextBoxFor(m => m.SearchTerm, new { id = "txtSearch", Name = "Search", @class = "form-control", title = $"{searchTermDisplayName}: ", @placeholder = $"{searchTermDisplayName}..." })
                        </div>
                    </div>
                    <div class="col-fixed-34 vertical-gutter-10">
                        <div id="divSearchValidationIndicatorContainer" class="validation-indicator-container">
                            <div id="divSearchValidationIndicatorContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
