@using MVCDemo.CustomHtmlHelpers

<div class="row row-cols-gutter-10">
    <div class="col-xs-12 vertical-gutter-10">
        <h1 class="custom-header">Powiadomienia o Imprezach - Projekt w ASP.NET MVC</h1>
        <div id="divHomeDescription">
            <div>Zaimplementowane funkcjonalności:</div>
            <ul style="color: blue">
                <li>System zarządzania użytkownikami</li>
                <li>Wyszukiwarka znajomych</li>
                <li>System zarządzania znajomymi</li>
                <li>System wysyłania powiadomień</li>
            </ul>
            <div>
                @Html.Image("~/Images/vixen_abby.png", "vixen_abby")
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Home/Index.js"></script>
}